In [112]:
import pandas as pd

In [113]:
from sklearn.model_selection import train_test_split

In [114]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [115]:
import numpy as np

In [116]:
#Carregamento do dataaset principal com dados de casos de infecções

In [117]:
dfCovid = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ProjetoFinal/covid.csv', index_col=[0], low_memory=False, error_bad_lines=False, sep=';')

In [118]:
dfCovid

       estado     municipio  ...  emAcompanhamentoNovos  interiormetro
regiao                       ...
Brasil    NaN             -  ...                    NaN            NaN
Brasil    NaN             -  ...                    NaN            NaN
Brasil    NaN             -  ...                    NaN            NaN
Brasil    NaN             -  ...                    NaN            NaN
Brasil    NaN             -  ...                    NaN            NaN
...       ...           ...  ...                    ...            ...
Sul        RS  Três de Maio  ...                    NaN            0.0
Sul        RS  Três de Maio  ...                    NaN            0.0
Sul        RS  Três de Maio  ...                    NaN            0.0
Sul        RS  Três de Maio  ...                    NaN            0.0
Sul        RS  Três de Maio  ...                    NaN            0.0

[1048575 rows x 16 columns]

In [119]:
#Resumo das informações do dataset

In [120]:
dfCovid.isna().sum()

estado                       236
municipio                   3690
coduf                          0
codmun                      6608
codRegiaoSaude             10503
nomeRegiaoSaude            10503
data                           0
semanaEpi                      0
populacaoTCU2019            3895
casosAcumulado                 0
casosNovos                     0
obitosAcumulado                0
obitosNovos                    0
Recuperadosnovos         1048393
emAcompanhamentoNovos    1048393
interiormetro              10503
dtype: int64

In [121]:
#Eliminação das colunas sem interesse

In [122]:
dfCovid.drop(['coduf','codmun','codRegiaoSaude','nomeRegiaoSaude','interiormetro'], axis=1, inplace=True)

In [123]:
dfCovid

       estado     municipio  ... Recuperadosnovos  emAcompanhamentoNovos
regiao                       ...
Brasil    NaN             -  ...              NaN                    NaN
Brasil    NaN             -  ...              NaN                    NaN
Brasil    NaN             -  ...              NaN                    NaN
Brasil    NaN             -  ...              NaN                    NaN
Brasil    NaN             -  ...              NaN                    NaN
...       ...           ...  ...              ...                    ...
Sul        RS  Três de Maio  ...              NaN                    NaN
Sul        RS  Três de Maio  ...              NaN                    NaN
Sul        RS  Três de Maio  ...              NaN                    NaN
Sul        RS  Três de Maio  ...              NaN                    NaN
Sul        RS  Três de Maio  ...              NaN                    NaN

[1048575 rows x 11 columns]

In [124]:
#Verificação de valores nulos

In [125]:
dfCovid.isna().sum()

estado                       236
municipio                   3690
data                           0
semanaEpi                      0
populacaoTCU2019            3895
casosAcumulado                 0
casosNovos                     0
obitosAcumulado                0
obitosNovos                    0
Recuperadosnovos         1048393
emAcompanhamentoNovos    1048393
dtype: int64

In [126]:
#Eliminação de valores nulos

In [127]:
dfCovid.dropna(subset=['municipio'], inplace=True)

In [128]:
dfCovid.isna().sum()

estado                       236
municipio                      0
data                           0
semanaEpi                      0
populacaoTCU2019             205
casosAcumulado                 0
casosNovos                     0
obitosAcumulado                0
obitosNovos                    0
Recuperadosnovos         1044703
emAcompanhamentoNovos    1044703
dtype: int64

In [129]:
#Inserção de valores 0 para dados ausentes

In [130]:
dfCovid['Recuperadosnovos'].fillna(0, inplace=True)

In [131]:
dfCovid['emAcompanhamentoNovos'].fillna(0, inplace=True)

In [132]:
dfCovid.isna().sum()

estado                   236
municipio                  0
data                       0
semanaEpi                  0
populacaoTCU2019         205
casosAcumulado             0
casosNovos                 0
obitosAcumulado            0
obitosNovos                0
Recuperadosnovos           0
emAcompanhamentoNovos      0
dtype: int64

In [133]:
#Alteração do nome das colunas

In [134]:
dfCovid.rename(columns={'populacaoTCU2019':'popMunici','Recuperadosnovos':'recNovos','emAcompanhamentoNovos':'emAcompNovos'}, inplace=True)

In [135]:
dfCovid

       estado     municipio        data  ...  obitosNovos  recNovos  emAcompNovos
regiao                                   ...
Brasil    NaN             -  25/02/2020  ...            0       0.0           0.0
Brasil    NaN             -  26/02/2020  ...            0       0.0           0.0
Brasil    NaN             -  27/02/2020  ...            0       0.0           0.0
Brasil    NaN             -  28/02/2020  ...            0       0.0           0.0
Brasil    NaN             -  29/02/2020  ...            0       0.0           0.0
...       ...           ...         ...  ...          ...       ...           ...
Sul        RS  Três de Maio  26/08/2020  ...            0       0.0           0.0
Sul        RS  Três de Maio  27/08/2020  ...            0       0.0           0.0
Sul        RS  Três de Maio  28/08/2020  ...            0       0.0           0.0
Sul        RS  Três de Maio  29/08/2020  ...            2       0.0           0.0
Sul        RS  Três de Maio  30/08/2020  ...            0       0.0           0.0

[1044885 rows x 11 columns]

In [136]:
#Formatação da coluna "municipios"

In [137]:
#Eliminação de acentos

In [138]:
dfCovid['municipio'] = dfCovid['municipio'].str.normalize('NFKD').str.encode('ASCII', errors='ignore').str.decode('ASCII')

In [139]:
#Eliminação de caracteres especiais

In [140]:
dfCovid['municipio'] = dfCovid['municipio'].str.replace('[-,_]',' ')

In [141]:
dfCovid['municipio'] = dfCovid['municipio'].str.replace("'",' ')

In [142]:
#Conversão para minúsculas

In [143]:
dfCovid['municipio'] = dfCovid['municipio'].str.lower()

In [144]:
dfCovid

       estado     municipio        data  ...  obitosNovos  recNovos  emAcompNovos
regiao                                   ...
Brasil    NaN                25/02/2020  ...            0       0.0           0.0
Brasil    NaN                26/02/2020  ...            0       0.0           0.0
Brasil    NaN                27/02/2020  ...            0       0.0           0.0
Brasil    NaN                28/02/2020  ...            0       0.0           0.0
Brasil    NaN                29/02/2020  ...            0       0.0           0.0
...       ...           ...         ...  ...          ...       ...           ...
Sul        RS  tres de maio  26/08/2020  ...            0       0.0           0.0
Sul        RS  tres de maio  27/08/2020  ...            0       0.0           0.0
Sul        RS  tres de maio  28/08/2020  ...            0       0.0           0.0
Sul        RS  tres de maio  29/08/2020  ...            2       0.0           0.0
Sul        RS  tres de maio  30/08/2020  ...            0       0.0           0.0

[1044885 rows x 11 columns]

In [145]:
#Dataset com todos os municipios por estado e mesorregião

In [146]:
dfMesoPib = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ProjetoFinal/pibemesor.csv', index_col=[0], low_memory=False, encoding='latin1', sep=';')

In [147]:
dfMesoPib

        regiaopais estado              municipio        mesorregiao       pib
ord
1            Norte     RO  Alta Floresta D'Oeste  Leste Rondoniense  19611,75
2            Norte     RO              Ariquemes  Leste Rondoniense  21389,67
3            Norte     RO                 Cabixi  Leste Rondoniense   22315,8
4            Norte     RO                 Cacoal  Leste Rondoniense  24037,91
5            Norte     RO             Cerejeiras  Leste Rondoniense  25009,71
...            ...    ...                    ...                ...       ...
5566  Centro-oeste     GO             Vianópolis         Sul Goiano  28942,36
5567  Centro-oeste     GO         Vicentinópolis         Sul Goiano  41772,71
5568  Centro-oeste     GO               Vila Boa       Leste Goiano  23992,38
5569  Centro-oeste     GO          Vila Propício       Leste Goiano  32016,61
5570  Centro-oeste     DF               Brasília   Distrito Federal  80502,47

[5570 rows x 5 columns]

In [148]:
#Formatação da coluna "municipio"

In [149]:
dfMesoPib['municipio'] = dfMesoPib['municipio'].str.normalize('NFKD').str.encode('ASCII', errors='ignore').str.decode('ASCII')

In [150]:
dfMesoPib['municipio'] = dfMesoPib['municipio'].str.replace('[-,_]',' ')

In [151]:
dfMesoPib['municipio'] = dfMesoPib['municipio'].str.replace("'",' ')

In [152]:
dfMesoPib['municipio'] = dfMesoPib['municipio'].str.lower()

In [153]:
dfMesoPib

        regiaopais estado              municipio        mesorregiao       pib
ord
1            Norte     RO  alta floresta d oeste  Leste Rondoniense  19611,75
2            Norte     RO              ariquemes  Leste Rondoniense  21389,67
3            Norte     RO                 cabixi  Leste Rondoniense   22315,8
4            Norte     RO                 cacoal  Leste Rondoniense  24037,91
5            Norte     RO             cerejeiras  Leste Rondoniense  25009,71
...            ...    ...                    ...                ...       ...
5566  Centro-oeste     GO             vianopolis         Sul Goiano  28942,36
5567  Centro-oeste     GO         vicentinopolis         Sul Goiano  41772,71
5568  Centro-oeste     GO               vila boa       Leste Goiano  23992,38
5569  Centro-oeste     GO          vila propicio       Leste Goiano  32016,61
5570  Centro-oeste     DF               brasilia   Distrito Federal  80502,47

[5570 rows x 5 columns]

In [154]:
#Junção dos datasets para preenchimento dos estados faltantes

In [155]:
dfCovid = pd.merge(dfCovid, dfMesoPib, on='municipio', how='right' )

In [156]:
dfCovid

        estado_x              municipio  ...        mesorregiao       pib
0             RO  alta floresta d oeste  ...  Leste Rondoniense  19611,75
1             RO  alta floresta d oeste  ...  Leste Rondoniense  19611,75
2             RO  alta floresta d oeste  ...  Leste Rondoniense  19611,75
3             RO  alta floresta d oeste  ...  Leste Rondoniense  19611,75
4             RO  alta floresta d oeste  ...  Leste Rondoniense  19611,75
...          ...                    ...  ...                ...       ...
1164408      NaN             vianopolis  ...         Sul Goiano  28942,36
1164409      NaN         vicentinopolis  ...         Sul Goiano  41772,71
1164410      NaN               vila boa  ...       Leste Goiano  23992,38
1164411      NaN          vila propicio  ...       Leste Goiano  32016,61
1164412      NaN               brasilia  ...   Distrito Federal  80502,47

[1164413 rows x 15 columns]

In [157]:
dfCovid.isna().sum()

estado_x           471
municipio            0
data               471
semanaEpi          471
popMunici          471
casosAcumulado     471
casosNovos         471
obitosAcumulado    471
obitosNovos        471
recNovos           471
emAcompNovos       471
regiaopais           0
estado_y             0
mesorregiao          0
pib                  0
dtype: int64

In [158]:
dfCovid.drop(['estado_x'], axis=1, inplace=True)

In [159]:
dfCovid.rename(columns={'estado_y':'estado'}, inplace=True)

In [160]:
#Exclusão dos dados faltantes

In [161]:
dfCovid.dropna(axis=0, inplace=True)

In [162]:
dfCovid.isna().sum()

municipio          0
data               0
semanaEpi          0
popMunici          0
casosAcumulado     0
casosNovos         0
obitosAcumulado    0
obitosNovos        0
recNovos           0
emAcompNovos       0
regiaopais         0
estado             0
mesorregiao        0
pib                0
dtype: int64

In [163]:
dfCovid

                     municipio        data  ...             mesorregiao       pib
0        alta floresta d oeste  27/03/2020  ...       Leste Rondoniense  19611,75
1        alta floresta d oeste  28/03/2020  ...       Leste Rondoniense  19611,75
2        alta floresta d oeste  29/03/2020  ...       Leste Rondoniense  19611,75
3        alta floresta d oeste  30/03/2020  ...       Leste Rondoniense  19611,75
4        alta floresta d oeste  31/03/2020  ...       Leste Rondoniense  19611,75
...                        ...         ...  ...                     ...       ...
1163941           tres de maio  26/08/2020  ...  Noroeste Rio-grandense  38626,61
1163942           tres de maio  27/08/2020  ...  Noroeste Rio-grandense  38626,61
1163943           tres de maio  28/08/2020  ...  Noroeste Rio-grandense  38626,61
1163944           tres de maio  29/08/2020  ...  Noroeste Rio-grandense  38626,61
1163945           tres de maio  30/08/2020  ...  Noroeste Rio-grandense  38626,61

[1163942 rows x 14 columns]

In [164]:
#Padronização dos tipos de dados dos atributos

In [165]:
#Tipo Inteiro

In [166]:
dfCovid['semanaEpi'] = dfCovid['semanaEpi'].astype(int)

In [167]:
dfCovid['popMunici'] = dfCovid['popMunici'].astype(int)

In [168]:
dfCovid['casosAcumulado'] = dfCovid['casosAcumulado'].astype(int)

In [169]:
dfCovid['obitosAcumulado'] = dfCovid['obitosAcumulado'].astype(int)

In [170]:
dfCovid['obitosNovos'] = dfCovid['obitosNovos'].astype(int)

In [171]:
dfCovid['recNovos'] = dfCovid['recNovos'].astype(int)

In [172]:
dfCovid['emAcompNovos'] = dfCovid['emAcompNovos'].astype(int)

In [173]:
dfCovid['casosNovos'] = dfCovid['casosNovos'].astype(int)

In [174]:
#Tipo Data

In [175]:
from datetime import datetime

In [176]:
dfCovid2 = dfCovid.copy()

In [177]:
dfCovid['data'] = pd.to_datetime(dfCovid['data'])

In [178]:
dfCovid['data'] = dfCovid['data'].dt.strftime('%d/%m/%Y')

In [179]:
dfCovid.drop(['pib'], axis=1, inplace=True)

In [180]:
dfCovid

                     municipio        data  ...  estado             mesorregiao
0        alta floresta d oeste  27/03/2020  ...      RO       Leste Rondoniense
1        alta floresta d oeste  28/03/2020  ...      RO       Leste Rondoniense
2        alta floresta d oeste  29/03/2020  ...      RO       Leste Rondoniense
3        alta floresta d oeste  30/03/2020  ...      RO       Leste Rondoniense
4        alta floresta d oeste  31/03/2020  ...      RO       Leste Rondoniense
...                        ...         ...  ...     ...                     ...
1163941           tres de maio  26/08/2020  ...      RS  Noroeste Rio-grandense
1163942           tres de maio  27/08/2020  ...      RS  Noroeste Rio-grandense
1163943           tres de maio  28/08/2020  ...      RS  Noroeste Rio-grandense
1163944           tres de maio  29/08/2020  ...      RS  Noroeste Rio-grandense
1163945           tres de maio  30/08/2020  ...      RS  Noroeste Rio-grandense

[1163942 rows x 13 columns]

In [181]:
dfCovid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1163942 entries, 0 to 1163945
Data columns (total 13 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   municipio        1163942 non-null  object
 1   data             1163942 non-null  object
 2   semanaEpi        1163942 non-null  int64
 3   popMunici        1163942 non-null  int64
 4   casosAcumulado   1163942 non-null  int64
 5   casosNovos       1163942 non-null  int64
 6   obitosAcumulado  1163942 non-null  int64
 7   obitosNovos      1163942 non-null  int64
 8   recNovos         1163942 non-null  int64
 9   emAcompNovos     1163942 non-null  int64
 10  regiaopais       1163942 non-null  object
 11  estado           1163942 non-null  object
 12  mesorregiao      1163942 non-null  object
dtypes: int64(8), object(5)
memory usage: 124.3+ MB

In [182]:
dfCovid.describe()

          semanaEpi     popMunici  ...   recNovos  emAcompNovos
count  1.163942e+06  1.163942e+06  ...  1163942.0     1163942.0
mean   2.785320e+01  3.751470e+04  ...        0.0           0.0
std    8.455084e+00  2.164684e+05  ...        0.0           0.0
min    1.300000e+01  7.810000e+02  ...        0.0           0.0
25%    2.100000e+01  5.610000e+03  ...        0.0           0.0
50%    2.800000e+01  1.196400e+04  ...        0.0           0.0
75%    3.500000e+01  2.596700e+04  ...        0.0           0.0
max    4.200000e+01  1.225202e+07  ...        0.0           0.0

[8 rows x 8 columns]

In [183]:
#Eliminação de coluna sem nenhuma informação

In [184]:
dfCovid.drop(['emAcompNovos'], inplace=True, axis=1)

In [185]:
dfCovid.drop(['recNovos'], inplace=True, axis=1)

In [186]:
#Correção de outliers

In [187]:
dfCovid['casosNovos'] = dfCovid['casosNovos'].abs()

In [188]:
dfCovid['obitosNovos'] = dfCovid['obitosNovos'].abs()

In [189]:
#Exportação do dataset criado

In [190]:
dfCovid.to_csv('/content/drive/MyDrive/Colab Notebooks/ProjetoFinal/dfCovidFinal.csv')